.primary-color {
  color: #3a469d;
}

.bold {
  font-weight: bold;
}

#lastPrice {
  color: #3a469d;
  margin: auto 30px;
}

#lastPrice>span {
  font-size: small;
}

span.cross-up,
span.cross-down {
  font-size: 14px;
  font-weight: 600;
  width: 100px;
}

span.cross-up.small,
span.cross-down.small {
  font-weight: 400;
  width: min-content;
}

.cross-up {
  color: green;
  font-family: math, monospace;
}

.cross-down {
  color: rgb(184, 0, 0);
  font-family: math, monospace;
}

.swing-up:after,.swing-down:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: calc(100% - 8px);
  width: calc(100% - 8px);
  position: absolute;
  left: 4px;
  top: 4px;
  border-radius: 0px;
  border-width: 0px;
  border-style: solid;
}

.swing-up::after {
  border-bottom-width: 2px;
  border-color: rgb(31, 150, 31, 0.7);
}

.swing-down::after {
  border-top-width: 2px;
  border-color: rgb(184, 0, 0, 0.4);
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: separate;
  width: 100%;
  border-radius: 5px;
  border-spacing: 0;
}

table tr:last-child th:first-child {
  border-top-left-radius: 5px;
}

table tr:last-child th:last-child {
  border-top-right-radius: 5px;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}

td,
th {
  border: 0.5px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: white;
  color: #3a469d;
}

button {
  background-color: white;
  border-radius: 4px;
  padding: 12px 28px;
  font-size: 18px;
  color: #3a469d;
  border: 2px solid #3a469d;
  transition-duration: 0.3s;
  cursor: pointer;
}

button.small {
  background-color: white;
  border-radius: 4px;
  padding: 6px 14px;
  font-size: 14px;
  color: #3a469d;
  border: 2px solid #3a469d;
  transition-duration: 0.3s;
  cursor: pointer;
}

button:hover {
  background-color: #3a469d;
  color: white;
}

input {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.timetag {
  position: absolute;
  right: -37.5px;
  width: 45px;
  background-color: #949494;
  color: #ffffff;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  top: 50%;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 6px;
  border: 2px solid;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  font-size: 14px;
  font-family: math, monospace;
}

.tooltip .tooltiptext {
  width: 140px;
  top: calc(100% + 5px);
  left: 50%;
  margin-left: -80px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: calc(100% - 7.5px);  /* At the top of the tooltip */
  left: 50%;
  margin-left: -7.5px;
  border-width: 0px;
  background-color: white;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  border-style: solid;
  border-color: inherit;
  border-top-width: 2px;
  border-left-width: 2px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

ul {
  padding-left: 10px;
  list-style-type: none;
  margin-top: 3px;
}



.loader.hidden,
.loader.hidden:before,
.loader.hidden:after {
  animation-play-state: paused;
}

.loader {
  animation: rotate 0.7s infinite;
  height: 50px;
  width: 50px;
  display: block;
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}

.loader:before {
  animation: ball1 0.7s infinite;
  background-color: #cacaca;
  box-shadow: 30px 0 0 #3a469d;
  margin-bottom: 10px;
}

.loader:after {
  animation: ball2 0.7s infinite;
  background-color: #3a469d;
  box-shadow: 30px 0 0 #cacaca;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(0.8)
  }

  50% {
    transform: rotate(360deg) scale(1.2)
  }

  100% {
    transform: rotate(720deg) scale(0.8)
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #3a469d;
  }

  50% {
    box-shadow: 0 0 0 #3a469d;
    margin-bottom: 0;
    transform: translate(15px, 15px);
  }

  100% {
    box-shadow: 30px 0 0 #3a469d;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #cacaca;
  }

  50% {
    box-shadow: 0 0 0 #cacaca;
    margin-top: -20px;
    transform: translate(15px, 15px);
  }

  100% {
    box-shadow: 30px 0 0 #cacaca;
    margin-top: 0;
  }
}